{% extends 'account/base.html' %}

{% block title %}Change Password{% endblock %}

{% block content %}

<div class="account-form-container password-change-container">

    <div class="account-form-header">
        <h1>Change password</h1>
        <p>
            Choose a strong password that you haven't used before.
        </p>
    </div>

    <form method="post" class="account-form">
        {% csrf_token %}

        {{ form.as_p }}

        <input type="submit" value="Change password">
    </form>

</div>

{% endblock %}