{% extends 'account/base.html' %}

{% block title %}Reset Password{% endblock %}

{% block content %}

<div class="account-form-container password-reset-container">

    <div class="account-form-header">
        <h1>Reset your password</h1>

        <p>
            Enter the email address associated with your Bookmarks account.
            We'll send you a link to reset your password.
        </p>
    </div>

    <form method="post" class="account-form">
        {% csrf_token %}

        {{ form.as_p }}

        <input type="submit" value="Send reset link">
    </form>

    <div class="reset-login-link">
        <a href="{% url 'login' %}">
            <span aria-hidden="true">←</span>
            Back to login
        </a>
    </div>

</div>

{% endblock %}