{% extends 'account/base.html' %}

{% block title %}Edit Account{% endblock %}

{% block content %}

<div class="account-form-container">

    <div class="account-form-header">
        <h1>Edit Account</h1>
        <p>Update your profile information and how others see you on Bookmarks.</p>
    </div>

    <form method="post" enctype="multipart/form-data" class="account-form">
        {% csrf_token %}

        {{ user_form.as_p }}
        {{ profile_form.as_p }}

        <input type="submit" value="Save changes">
    </form>

</div>

{% endblock %}